.note-container{
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 13px 1px #cbd5e1;
    border-color: #ffffff;
    border-style: unset;
    border-radius: 10px;
}
input{
    border-width: 0;
    margin: 20px;
    background-color: transparent;
}
input:focus{
    outline: none;
}
.button{
    background-color: rgb(125, 125, 230);
    border-radius: 5px;
    border-width: 0px;
    text-align: center;
    width: 50px;
    height: 30px;
    margin-left: 1000px;
    color: #ffffff;
}
    
.message-container{
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(4,1fr);
    
}
.container{
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: white;
    margin-left: 30px;
    box-shadow: 0px 0px 13px 1px #cbd5e1;
    border-color: #ffffff;
    border-style: unset;
    width: 250px;
    height: 180px;
    margin-top: 10px;
    overflow-wrap: break-word;
    overflow-y: auto;
    border-radius: 10px;
    padding: 10px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    color:  #4c63b6;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 900;
    font-size: 12px;
}
.error-container{
    color: red;
}
.remove-button{
    text-align: center;
    height: 60px;
    width: 80px;
    margin-top: 50px;
    background-color: #4c63b6;
    border-radius: 10px;
    border-width: 0px;
    color: #fff;
    
}